html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  max-width: 640px;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0 auto;
  font-size: 14px;
  background-color: #f0f0ee;
}

body input {
  font-size: 14px;
}

.banner {
  width: 100%;
}

.domain {
  width: 95%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  transform: translateY(-60px);
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
}

.domain .title {
  margin: 5px 0;
  width: 100%;
}

.domain .title .disabled {
  display: inline-block;
  width: 90px;
}

.domain .title .icons {
  width: 18px;
  height: 18px;
  margin: 12px 6px 0 0;
  float: left;
}

.domain .title input {
  border: none;
  background: none;
  margin-left: 10px;
  width: 60%;
  height: 40px;
}

.domain .title input:-webkit-input-placeholder {
  color: #999999;
}

.domain .title .pullimage {
  width: 90px;
  height: 90px;
  margin: 34px 0;
}

.domain .title .sketchmap {
  width: 90px;
  height: 90px;
  float: right;
  text-align: center;
  margin-top: 10px;
}

.domain .title .sketchmap span {
  color: #999999;
}

.domain .title .sketchmap img {
  width: 100%;
  height: 100%;
}

.domain .width100 {
  width: 100%;
}

.domain .link {
  width: 100%;
  height: 1px;
  background-color: #dc282a;
  margin: 5px 0;
}

.domain .ccc {
  background-color: #eeeeee;
}

.module {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.alx-module {
  display: none;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 1;
  text-align: center;
  width: 450px;
  left: 50%;
  margin-left: -225px;
}

.alx-module img {
  width: 80%;
  height: auto;
  margin-left: 20px;
}

.alx-module .box {
  float: left;
  transform: translateY(-150px);
  width: 100%;
  text-align: center;
}

.alx-module .box .show {
  width: 64%;
}

.submit {
  width: 90%;
  height: 40px;
  text-align: center;
  color: white;
  line-height: 40px;
  border-radius: 5px;
  margin: 20px auto;
  background-color: #dc282a;
}

nav {
  text-align: center;
  color: white;
  transform: translateY(-190px);
  height: auto;
  width: 100%;
}

nav span {
  display: block;
}

nav img {
  width: 120px !important;
  height: 120px !important;
  padding: 2px;
  background-color: white;
  border-radius: 50%;
}

.qualiydomain {
  transform: translateY(-180px);
}

.qualiydomain .title {
  line-height: 40px;
  height: 40px;
  white-space: nowrap;
  word-break: keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.qualiydomain .title .disabled {
  float: left;
  text-align: left;
}

.qualiydomain .title span {
  color: rgba(35, 24, 21, 0.3);
}

.qualiybanner {
  transform: translateY(-78px);
}

.login {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.login .loginBox {
  width: 260px;
  margin: 0 auto;
}

.login .loginBox .title {
  text-align: left;
  color: #333;
}

.login .loginBox input {
  height: 36px;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 4px;
  padding-left: 6px;
  margin-top: 10px;
}

.login .loginBox input::-webkit-input-placeholder {
  color: #999999;
}

.login .loginBox span {
  display: block;
  width: 60px;
  height: 40px;
  float: right;
  transform: translate(10px, -40px);
  background: url(../images/search.png) #333333 no-repeat center center;
  background-size: 40%;
  border-radius: 0;
  margin: 0;
}

.help, .repair {
  width: 100%;
  height: 40px;
  background: white;
  margin-top: 4px;
  line-height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}

.help span, .repair span {
  width: 16px;
  height: 30px;
  float: right;
  background: url(../images/normal.png) no-repeat center center;
  transform: rotate(90deg);
  background-size: 70%;
  margin-top: 4px;
}

.repair span {
  transform: rotate(0deg);
}

.help-box {
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  background: white;
  color: #ccc;
  padding: 20px;
  box-sizing: border-box;
}

.help-box span {
  display: inline-block;
  width: 100%;
  height: 260px;
  overflow: hidden;
  background: url(../images/show-help.jpg) no-repeat center center;
  background-size: contain;
}

.text-mudule {
  display: none;
  font-weight: 400;
  color: white;
  border-radius: 5px;
  text-align: center;
  line-height: 40px;
  position: fixed;
  top: 20%;
  left: 0;
  z-index: 100;
  padding: 4px 30px;
  box-sizing: border-box;
  background-color: black;
  width: 90%;
  margin: 0 5%;
}

.image-show {
  width: 90%;
  height: auto;
  display: none;
  z-index: 9;
  position: fixed;
  top: 100px;
  left: 5%;
  text-align: center;
}

.image-show img {
  width: 70%;
  height: 100%;
}

.ban {
  height: 230px;
}

.iframes {
  display: none;
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 500px;
  background: white;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.iframes .sub {
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  background-color: #dc282a;
  margin: 6px auto;
  border-radius: 5px;
}

@media (min-width: 640px) {
  .image-show img {
    width: 20%;
    height: 100%;
  }
}

.main {
  display: none;
}

.repair-domain {
  padding: 15px;
  box-sizing: border-box;
  position: relative;
}

.repair-domain img {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.repair-domain .box {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  text-align: center;
  overflow: hidden;
  padding: 0 20px;
  box-sizing: border-box;
}

.repair-domain .box .title {
  margin-bottom: 10px;
  color: #333333;
}

.repair-domain .box .title:nth-of-type(1) .img {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: url(../images/contant.png) no-repeat center center;
  background-size: 100%;
}

.repair-domain .box .title:nth-of-type(2) {
  margin-top: 26%;
}

.repair-domain .box .title:nth-of-type(2) .img {
  margin: 0 auto;
  width: 24px;
  height: 30px;
  background: url(../images/order.png) no-repeat center center;
  background-size: 100%;
}

.repair-domain .box input {
  width: 100%;
  font-size: 13px;
  padding-left: 10px;
  line-height: 30px;
  box-sizing: border-box;
  border: 1px solid #e97f6d;
  border-radius: 8px;
  margin: 8px 0;
  background: #fff4f2;
}

.repair-domain .box textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #e97f6d;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
  background: #fff4f2;
}

.repair-domain .box input::-webkit-input-placeholder, .repair-domain .box textarea::-webkit-input-placeholder {
  color: #e97f6d;
}

.successFullBox {
  display: none;
  text-align: center;
  margin-top: 100px;
}

.successFullBox .img {
  width: 125px;
  height: 103px;
  margin: 0 auto;
  overflow: hidden;
  background: url(../images/repair-success.png) no-repeat center center;
  background-size: 100%;
}
