<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="共享咖啡管理后台">
    <meta name="keywords" content="yuanmeng,ym,圆梦,系统,后台系统,咖啡蜗,蜗牛,大正集团">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title>广东圆梦实业发展有限公司</title>
</head>


<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="find_machine_list" v-loading.fullscreen.lock="loading">
        <el-container>
            <el-main>
                <el-form>
                    <div style="margin: 10px 0">
                        <el-button type="primary"
                            @click="detailTableAndVisible = true;UnFormData = [];unbinadmin = {}; state = ''; searchAPIs({_uri: 'get_machine_number_arr'})">
                            推送绑定/解绑
                        </el-button>
                    </div>
                    <el-input placeholder="请输入内容" v-model="listSearch._value_" class="_searchVal">
                        <el-select v-model="listSearch._name_" class="_searchVal_select" slot="prepend"
                            placeholder="请选择" :change="listSearch._name_ = 'name'">
                            <el-option label="商户名称/ID" value="name"></el-option>
                        </el-select>
                    </el-input>
                    <div class="_search_centent" v-show="more">
                        <el-button>设备类型</el-button>
                        <el-select v-model="listSearch.machineType" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value=""></el-option>
                            <el-option label="大型柜式机" value="1"></el-option>
                            <el-option label="小型桌面机" value="2"></el-option>
                        </el-select>
                    </div>
                    <div class="_search_centent" v-show="more">
                        <el-button>在线状态</el-button>
                        <el-select v-model="listSearch.onlineStatus" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value=""></el-option>
                            <el-option label="离线" value="1"></el-option>
                            <el-option label="在线" value="2"></el-option>
                        </el-select>
                    </div>
                    <div class="_search_centent" v-show="more">
                        <el-button>故障状态</el-button>
                        <el-select v-model="listSearch.failureStatus" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value=""></el-option>
                            <el-option label="故障" value="1"></el-option>
                            <el-option label="正常" value="2"></el-option>
                        </el-select>
                    </div>
                    <div class="_search_centent" v-show="more">
                        <el-button>物料状态</el-button>
                        <el-select v-model="listSearch.materialStatus" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value=""></el-option>
                            <el-option label="缺料" value="1"></el-option>
                            <el-option label="正常" value="2"></el-option>
                        </el-select>
                    </div>

                    <div class="more_search el-icon-circle-plus-outline" v-show="!more" @click="more = !more"> 更多搜索条件
                    </div>
                    <div class="more_search el-icon-remove-outline" v-show="more" @click="more = !more"> 收起 </div>

                    <el-button icon="el-icon-search" class="_search_btn" @click="list(listSearch)">搜索
                    </el-button>
                </el-form>

                <template>

                    <el-form :model="machineNumbers">
                        <el-button type="success" @click="page = 1;list()">设备总数 {{ machineNumbers.machineCount }}
                        </el-button>
                        <el-button type="info" @click="page = 1;list({onlineStatus:1})">离线总数
                            {{ machineNumbers.offLineNum }} </el-button>
                        <el-button type="warning" @click="page = 1;list({materialStatus:1})">缺料总数
                            {{ machineNumbers.starvingNum }} </el-button>
                        <el-button type="danger" @click="page = 1;list({failureStatus:1})">故障总数
                            {{ machineNumbers.faultNum }}</el-button>
                        <el-button type="warning" @click="page = 1;list({maintainStatus:1})">维护总数
                            {{ machineNumbers.maintainNum }}</el-button>
                        <el-button type="danger" @click="page = 1;list({repairStatus:1})">维修总数
                            {{ machineNumbers.repairNum }}</el-button>
                    </el-form>
                    <el-table :data="tableData" stripe style="width: 100%" border>
                        <el-table-column prop="machineNumber" label="设备编号"></el-table-column>
                        <el-table-column prop="adminName" label="绑定商户"></el-table-column>
                        <el-table-column prop="machineAddrDesc" label="设备地址" show-overflow-tooltip=true></el-table-column>
                        <el-table-column label="设备类型">
                            <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                    <el-badge :value="scope.row.machineType[0] == '大' ? 'B' : 'S'"
                                        :type="scope.row.machineType[0] == '大' ? 'danger' : 'primary'" class="item">
                                        <el-tag size="medium">{{ scope.row.machineType }}</el-tag>
                                    </el-badge>
                                </div>
                            </template>
                        </el-table-column>

                        <el-table-column prop="machineSn" label="设备SN号" show-overflow-tooltip=true></el-table-column>
                        <el-table-column prop="machineScenePicUrl" label="设备场景图片">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top" v-show="scope.row.machineScenePicUrl != 'null'">
                                    <el-image :src="scope.row.machineScenePicUrl"
                                        :preview-src-list="scope.row.machineScenePicUrl" style="text-align: center;">
                                    </el-image>
                                    <div slot="reference" class="name-wrapper">
                                        <el-image :src="scope.row.machineScenePicUrl"
                                            :preview-src-list="scope.row.machineScenePicUrl" lazy></el-image>
                                    </div>
                                </el-popover>
                                <div v-show="scope.row.machineScenePicUrl == 'null'">
                                    无
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="wxacode" label="设备二维码">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">
                                    <el-image :src="scope.row.wxacode" :preview-src-list="scope.row.wxacode"
                                        style="text-align: center;"></el-image>
                                    <div slot="reference" class="name-wrapper">
                                        <el-image :src="scope.row.wxacode" :preview-src-list="scope.row.wxacode" lazy>
                                        </el-image>
                                    </div>
                                </el-popover>
                            </template>
                        </el-table-column>

                        <el-table-column prop="onlineStatus" label="在线状态">
                            <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                    <el-tag :type="scope.row.onlineStatus == '离线' ? 'info' : 'success'" size="medium"
                                        effect="dark">
                                        {{ scope.row.onlineStatus }}</el-tag>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="failureStatus" label="故障状态">
                            <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                    <el-tag
                                        :type="scope.row.failureStatus == '故障' ? 'danger' : scope.row.failureStatus != '无' ? 'success' : 'info' "
                                        size="medium" effect="dark">{{ scope.row.failureStatus }}</el-tag>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="materialStatus" label="物料状态">
                            <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                    <el-tag
                                        :type="scope.row.materialStatus == '缺失' ? 'danger' : scope.row.materialStatus != '无' ? 'success' : 'info'"
                                        size="medium" effect="dark">{{ scope.row.materialStatus }}</el-tag>
                                </div>
                            </template>
                        </el-table-column>
                        <el-table-column prop="maintainStatus" label="运维状态">
                            <template slot-scope="scope">
                                <div slot="reference" class="name-wrapper">
                                    <el-tag
                                        :type="scope.row.maintainStatus == '维护中' || scope.row.maintainStatus == '维修中' ? 'danger' : scope.row.maintainStatus != '无' ? 'success' : 'info'"
                                        size="medium" effect="dark">{{ scope.row.maintainStatus }}</el-tag>
                                </div>
                            </template>
                        </el-table-column>

                        <el-table-column fixed="right" label="操作">
                            <template slot-scope="scope">
                                <el-button type="text" size="small"
                                    @click="crud({uri:'equipmentEnit',enitId:scope.row})">
                                    编辑
                                </el-button>
                                <el-button type="text" size="small"
                                    @click="machineLog({enitId:scope.row});machineLogViews = true">
                                    日志
                                </el-button>
                                <el-button type="text" size="small"
                                    @click="crud({uri:'equipmentLongRange',enitId:scope.row})">
                                    远程
                                </el-button>
                                <el-button v-show=" testAdmin " type="text" size="small"
                                    @click="crud({uri:'orderList',enitId:scope.row})">
                                    订单
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
                
                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>


                <el-dialog title="推送绑定/解绑" :visible.sync="detailTableAndVisible">
                    <el-form :model="unbinadmin">
                        <el-table :data="UnFormData" height="300px" style="margin: 10px 0" tooltip-effect="dark"
                            @selection-change="handleSelectionChange" ref="multipleTable">
                            <el-table-column type="selection"></el-table-column>
                            <el-table-column type="index" fixed></el-table-column>
                            <el-table-column property="machineNumber" label="设备编号"></el-table-column>
                            <el-table-column property="userId" label="用户ID"></el-table-column>
                            <el-table-column property="userName" label="当前绑定用户"></el-table-column>
                        </el-table>
                        <el-autocomplete v-model="state" :fetch-suggestions="querySearchAsync"
                            placeholder="请输入绑定/解绑的用户名" @select="handleSelect"></el-autocomplete>
                        <template>
                            <div style="margin-top: 10px">
                                <el-button type="primary" @click="bindUser({_uri: 'statistics_bind_user',_type:[1]})">
                                    绑定
                                </el-button>
                                <el-button type="primary"
                                    @click="bindUser({_id: 'userid',_uri: 'statistics_bind_user',_type:[2]})">
                                    解绑
                                </el-button>
                            </div>
                        </template>
                    </el-form>
                </el-dialog>

                <el-dialog title="设备日志" :visible.sync="machineLogViews">
                    <div style="height:400px;overflow-y: auto">
                        <template>
                            <div v-for="data in machineLogs">
                                <span>{{ data.t }}</span>
                                <el-divider content-position="right">{{ data.i }}</el-divider>
                            </div>
                        </template>
                    </div>
                </el-dialog>

            </el-main>
        </el-container>
    </div>
</body>

</html>