<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="description" content="共享咖啡管理后台">
    <meta name="keywords" content="yuanmeng,ym,圆梦,系统,后台系统,咖啡蜗,蜗牛,大正集团">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title>广东圆梦实业发展有限公司</title>
</head>


<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="find_order_list" v-loading.fullscreen.lock="loading">
        <el-container>
            <el-main>
                <el-form>
                    <div style="width: 100%;margin-bottom:10px;">
                        <el-button @click="UpdateTableAndVisible = true;pathUrlExe = {}" type="primary">导出订单</el-button>
                    </div>
                    <el-input placeholder="请输入内容" v-model="listSearch._value_" class="_searchVal">
                        <el-select v-model="listSearch._name_" class="_searchVal_select" slot="prepend" placeholder="请选择" :change="listSearch._name_ = 'name'">
                            <el-option label="订单号" value="name"></el-option>
                        </el-select>
                    </el-input>
                    <div class="_search_centent" v-show="more">
                        <el-button>消费类型</el-button>
                        <el-select v-model="listSearch.consumptionType" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value=""></el-option>
                            <el-option label="网页消费" value="6"></el-option>
                            <el-option label="机器直销" value="5"></el-option>
                            <el-option label="会员开通" value="4"></el-option>
                        </el-select>
                    </div>
                    <div class="_search_centent" v-show="more">
                        <el-button>订单状态</el-button>
                        <el-select v-model="listSearch.orderStatus" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value=""></el-option>
                            <el-option label="未支付" value="1"></el-option>
                            <el-option label="已支付" value="2"></el-option>
                            <el-option label="已退款" value="3"></el-option>
                            <el-option label="已完成" value="4"></el-option>
                            <el-option label="已取消" value="5"></el-option>
                            <el-option label="制作中" value="6"></el-option>
                            <el-option label="未兑换" value="7"></el-option>
                            <el-option label="已兑换" value="8"></el-option>
                            <el-option label="已过期" value="9"></el-option>
                        </el-select>
                    </div>

                    <div class="_search_centent" v-show="more">
                        <el-date-picker v-model="listSearch._time_" type="daterange" align="right" unlink-panels
                            range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期"
                            :picker-options="pickerOptions" @change="getTime">
                        </el-date-picker>
                    </div>

                    <div class="more_search el-icon-circle-plus-outline" v-show="!more" @click="more = !more"> 更多搜索条件
                    </div>
                    <div class="more_search el-icon-remove-outline" v-show="more" @click="more = !more"> 收起 </div>

                    <el-button icon="el-icon-search" class="_search_btn"
                        @click="list(listSearch)">搜索
                    </el-button>
                </el-form>

                <template>

                    <el-table :data="tableData" stripe style="width: 100%" border>
                        <el-table-column prop="orderId" label="订单号">
                            <template slot-scope="scope">
                                <el-popover trigger="hover" placement="top">
                                    <p>订单号: {{ scope.row.orderId }}</p>
                                    <div slot="reference" class="name-wrapper">
                                        <el-tag size="medium">
                                            {{ `...` + scope.row.orderId.substr(scope.row.orderId.length - 8,scope.row.orderId.length) }}
                                        </el-tag>
                                    </div>
                                </el-popover>
                            </template>
                        </el-table-column>
                        <el-table-column prop="spendingMoney" label="消费金额"></el-table-column>
                        <el-table-column prop="paymentMoney" label="支付金额"></el-table-column>

                        <el-table-column prop="paymentType" label="支付类型"></el-table-column>

                        <el-table-column prop="consumptionType" label="消费方式"></el-table-column>
                        <el-table-column prop="orderStatus" label="订单状态">
                            <template slot-scope="scope">
                                <el-tag size="medium">{{ scope.row.orderStatus }}</el-tag>
                            </template>
                        </el-table-column>
                        <el-table-column prop="paymentTime" label="支付时间"></el-table-column>

                        <el-table-column fixed="right" label="操作">
                            <template slot-scope="scope">
                                <el-button type="text" size="small"
                                    @click="orderDetail(scope.row.orderId);detailTableAndVisible = true">
                                    查看详情
                                </el-button>
                                <el-button type="text" size="small"
                                    @click="InputAndVisible = true; refundMoney = scope.row"
                                    v-show="scope.row.orderStatus !='已退款'? true: false">
                                    退款
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>


                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>

                <el-dialog title="订单详情" :visible.sync="detailTableAndVisible">
                    <el-form :model="order">
                        <el-form-item>
                            <el-image :src="order.headPicUrl"></el-image>
                            <div>
                                <el-button type="text">昵称：{{ order.nickName }}</el-button>
                                <el-button type="text">ID：{{ order.userId }}</el-button>
                            </div>
                        </el-form-item>
                        <el-form style="height: 400px;overflow:auto;">
                            <el-form-item label="设备编号" prop="machineNumber">
                                <el-input v-model="order.machineNumber"></el-input>
                            </el-form-item>
                            <el-form-item label="商户ID" prop="adminId">
                                <el-input v-model="order.adminId"></el-input>
                            </el-form-item>
                            <el-form-item label="商户名称" prop="adminName">
                                <el-input v-model="order.adminName"></el-input>
                            </el-form-item>
                            <el-form-item label="设备类型" prop="machineType">
                                <el-input v-model="order.machineType == 1 ? '大型柜式机': '小型桌面机'"></el-input>
                            </el-form-item>
                            <el-form-item label="订单类型" prop="orderType">
                                <el-input v-model="order.orderType"></el-input>
                            </el-form-item>
                            <el-form-item label="支付类型" prop="paymentType">
                                <el-input v-model="order.paymentType"></el-input>
                            </el-form-item>
                            <el-form-item label="产品ID" prop="productId">
                                <el-input v-model="order.productId"></el-input>
                            </el-form-item>
                            <el-form-item label="产品名称" prop="productName">
                                <el-input v-model="order.productName"></el-input>
                            </el-form-item>
                            <el-form-item label="口味信息" prop="flavorShow">
                                <el-input v-model="order.flavorShow"></el-input>
                            </el-form-item>
                            <el-form-item label="支付时间" prop="paymentTime">
                                <el-input v-model="order.paymentTime"></el-input>
                            </el-form-item>
                            <el-form-item label="创建时间" prop="createTime">
                                <el-input v-model="order.createTime"></el-input>
                            </el-form-item>
                            <el-form-item label="订单状态" prop="orderStatus">
                                <el-input v-model="order.orderStatus"></el-input>
                            </el-form-item>
                        </el-form>
                    </el-form>
                </el-dialog>

                <el-dialog title="订单退款" :visible.sync="InputAndVisible">
                    <el-form :model="refundMoney">
                        <el-form-item label="订单号" prop="orderId">
                            <el-input v-model="refundMoney.orderId" :disabled="true"></el-input>
                        </el-form-item>
                        <el-form-item label="退款金额" prop="payNum">
                            <el-input v-model="refundMoney.payNum"></el-input>
                        </el-form-item>
                        <el-form-item label="会员流量" prop="milliliterLimit"
                            v-show="refundMoney.consumptionType == '开通会员'?true:false">
                            <el-input v-model="refundMoney.milliliterLimit"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="refundMoneyNum(refundMoney)">确定提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <el-dialog title="订单导出表格" :visible.sync="UpdateTableAndVisible">
                    <el-form :model="pathUrlExe" label-width="100px">
                        <el-form-item label="导出关键字" prop="orderId">
                            <el-input v-model="pathUrlExe.machineNumber" placeholder="机器编号"></el-input>
                            <el-input style="margin: 3px 0" v-model="pathUrlExe.adminName" placeholder="商户名称">
                            </el-input>
                            <el-input v-model="pathUrlExe.productName" placeholder="产品名称"></el-input>
                            <el-input style="margin: 3px 0" v-model="pathUrlExe.couponName" placeholder="优惠券名称">
                            </el-input>
                        </el-form-item>
                        <el-form-item label="消费类型" prop="payNum">
                            <el-select v-model="pathUrlExe.consumptionType" placeholder="请选择">
                                <el-option
                                    v-for="item in [{value:1,label:'普通兑换码'},{value:2,label:'通用兑换码'},{value:3,label:'网页充值'},{value:4,label:'开通会员'},{value:5,label:'机器直销'},{value:6,label:'网页消费'},{value:7,label:'退款订单'}]"
                                    :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="订单状态" prop="orderStatus">
                            <el-select v-model="pathUrlExe.orderStatus" placeholder="请选择">
                                <el-option
                                    v-for="item in [{value:1,label:'未支付'},{value:2,label:'已支付'},{value:3,label:'已退款'},{value:4,label:'已完成'},{value:5,label:'已取消'},{value:6,label:'制作中'},{value:7,label:'未兑换'},{value:8,label:'已兑换'},{value:9,label:'已过期'},{value:10,label:'已失效'}]"
                                    :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="时间区间">
                            <el-date-picker v-model="pathUrlExe.startTime" @change="getTime" type="datetimerange"
                                range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
                            </el-date-picker>
                        </el-form-item>

                        <el-form-item label="排序" prop="orderLine">
                            <el-select v-model="pathUrlExe.orderLine" placeholder="请选择">
                                <el-option
                                    v-for="item in [{value:5,label:'机器编号'},{value:6,label:'订单原价'},{value:7,label:'实际消费金额'},{value:8,label:'创建时间'}]"
                                    :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="排序规则" prop="sort">
                            <el-select v-model="pathUrlExe.sort" placeholder="请选择">
                                <el-option v-for="item in [{value:3,label:'正序'},{value:4,label:'倒序'}]" :key="item.value"
                                    :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item label="订单类型" prop="orderType">
                            <el-select v-model="pathUrlExe.orderType" placeholder="请选择">
                                <el-option
                                    v-for="item in [{value:0,label:'测试订单'},{value:1,label:'普通订单'},{value:5,label:'自动退款'},{value:6,label:'人工退款'}]"
                                    :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                        </el-form-item>

                        <el-form-item>
                            <el-button type="primary" @click="exportOrder(pathUrlExe)">导出Excel</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>
            </el-main>
        </el-container>
    </div>
</body>

</html>