<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">

    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../../public/stylesheets/plugin/element.min.css">
    <script src="../../public/javascripts/plugin/vue.js"></script>
    <script src="../../public/javascripts/plugin/element.min.js"></script>

    <title></title>
</head>


<body class="_scrollbar">
    <div id="c-container-list" style="height: 100%;" data-uri="sys_role_list" v-loading.fullscreen.lock="loading">
        <el-container>
            <el-main>
                <el-form>
                    <!-- <div style="margin: 10px 0">
                        <el-button type="primary"
                            @click="detailTableAndVisible = true;UnFormData = tableData;unbinadmin = {};select_user = '';user_type = 1; grantCount = '';overdueTime = '';user_state = 1;">
                            操作用户
                        </el-button>
                    </div>
                    <el-input placeholder="请输入内容" v-model="listSearch._value_" class="_searchVal">
                        <el-select v-model="listSearch._name_" class="_searchVal_select" slot="prepend"
                            placeholder="请选择">
                            <el-option label="用户昵称" value="nickName"></el-option>
                            <el-option label="用户ID" value="userId"></el-option>
                            <el-option label="用户来源" value="adminName"></el-option>
                        </el-select>
                    </el-input>

                    <div class="_search_centent">
                        <el-button>用户类型</el-button>
                        <el-select v-model="listSearch.userType" slot="prepend" placeholder="请选择">
                            <el-option label="不限" value=""></el-option>
                            <el-option label="普通用户" value="1"></el-option>
                            <el-option label="测试用户" value="2"></el-option>
                            <el-option label="免单用户" value="3"></el-option>
                        </el-select>
                    </div>

                    <el-button icon="el-icon-search" class="_search_btn" @click="list(listSearch)">搜索
                    </el-button> -->
                </el-form>
                <template>
                    <el-table :data="tableData" stripe style="width: 100%" border>
                        <el-table-column prop="roleId" label="secretID"></el-table-column>
                        <el-table-column prop="roleName" label="name"></el-table-column>
                        <el-table-column prop="status" label="状态">
                            <template slot-scope="scope">
                                {{ scope.row.status == 1 ? '正常' : '冻结' }} 
                            </template>
                        </el-table-column>
                        <el-table-column prop="createTime" label="注册时间"></el-table-column>


                        <el-table-column fixed="right" label="操作">
                            <template slot-scope="scope">
                                <el-button type="text" size="small"
                                    @click="serchAssetes(scope.row.roleId)">
                                    权限
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>

                <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange"
                    :current-page="currentPage" :page-sizes="[10, 20, 30, 40]" :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper" :total="total">
                </el-pagination>


                <el-dialog title="已捆绑权限" :visible.sync="detailTableAndVisible">
                        <div style="margin-bottom:20px;">
                            <el-button @click="serchAssetesAll(UnFormData)" type="primary">增加绑定<i
                                class="el-icon-plus el-icon--right"></i></el-button>
                        </div>
                        <el-table :data="UnFormData" height="400px">
                            <el-table-column property="permissionId" label="权限ID"></el-table-column>
                            <el-table-column property="permissionName" label="权限名称"></el-table-column>
                            <el-table-column property="parentId" label="上级ID">
                                <template slot-scope="scope">
                                    {{ scope.row.parentId == -1 ? '无' : scope.row.parentId}} 
                                </template>
                            </el-table-column>
                            <el-table-column property="permissionWeight" label="权限级别">
                                <template slot-scope="scope">
                                    {{ scope.row.permissionWeight + '级' }} 
                                </template>
                            </el-table-column>
                            <el-table-column fixed="right" label="操作">
                                <template slot-scope="scope">
                                    <el-button type="text" size="small"
                                        @click="IError('未开启')">
                                        解除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                </el-dialog>

                <el-dialog title="增加绑定" :visible.sync="TableAndVisible">
                    <el-table :data="UnTableFormData" width="50%" height="400px" style="margin: 10px 0" tooltip-effect="dark"
                        @selection-change="handleSelectionChange" ref="multipleTable">
                        <el-table-column type="selection"></el-table-column>
                        <el-table-column property="permissionId" label="权限ID"></el-table-column>
                        <el-table-column property="permissionName" label="名称"></el-table-column>
                        <el-table-column property="requestUri" label="地址"></el-table-column>
                        <el-table-column property="sort" label="排序"></el-table-column>
                    </el-table>
                    <template>
                        <div style="margin-top: 10px">
                            <el-button type="primary" @click="bindUser()">
                                绑定
                            </el-button>
                        </div>
                    </template>
                </el-dialog>
<!-- 
                <el-dialog title="批量操作用户" :visible.sync="detailTableAndVisible">
                    <el-form :model="unbinadmin">
                        <el-autocomplete v-model="state" :fetch-suggestions="querySearchAsync" placeholder="请输入用户名"
                            @select="handleSelect">
                            <template slot-scope="{ item }">
                                <div><span style="margin-right:10px">{{ item._id  }}</span><span>{{ item.value }}</span>
                                </div>
                            </template>
                        </el-autocomplete>

                        <el-table :data="UnFormData" height="300px" style="margin: 10px 0" tooltip-effect="dark"
                            @selection-change="handleSelectionChange" ref="multipleTable">
                            <el-table-column type="selection"></el-table-column>
                            <el-table-column type="index" fixed></el-table-column>
                            <el-table-column property="userId" label="用户ID"></el-table-column>
                            <el-table-column property="nickName" label="昵称"></el-table-column>
                        </el-table>

                        <div class="_search_centent">
                            <el-select v-model="select_user" slot="prepend" placeholder="请选择操作类型"
                                @change="userSelect(select_user)">
                                <el-option label="用户类型" value='{"_uri": "manage_client_user", "_type": "2"}'>
                                </el-option>
                                <el-option label="补偿流量" value='{"_uri": "grant_compensate_milliliter", "_type": "2"}'>
                                </el-option>
                                <el-option label="用户状态" value='{"_uri": "manage_client_user", "_type": "3"}'>
                                </el-option>
                                <el-option label="赠送抽奖" value='{"_uri": "grant_draw_chance"}'>
                                </el-option>
                                <el-option label="赠送抽奖【小程序】" value='{"_uri": "grant_sys_user_draw_chance"}'>
                                </el-option>
                                <el-option label="开通会员" value='{"_uri": "dredge_member" }'></el-option>
                            </el-select>
                        </div>
                        <template>
                            <div v-show="statues.user">
                                <el-radio-group v-model="user_type">
                                    <el-radio :label="1">普通用户</el-radio>
                                    <el-radio :label="2">测试用户</el-radio>
                                    <el-radio :label="3">免单用户</el-radio>
                                </el-radio-group>
                            </div>
                            <div v-show="statues.flow">
                                <el-input placeholder="请输入流量数值" name="grantCount" v-model="grantCount"></el-input>
                                <el-input placeholder="请输入时间数值" name="overdueTime" v-model="overdueTime"></el-input>
                            </div>
                            <div v-show="statues.state">
                                <el-radio-group v-model="user_state">
                                    <el-radio :label="1">正常</el-radio>
                                    <el-radio :label="2">冻结</el-radio>
                                </el-radio-group>
                            </div>
                            <div v-show="statues.ount">
                                <el-input placeholder="请输入赠送次数" name="ount" v-model="ount"></el-input>
                            </div>
                            <div v-show="statues.objectId">
                                <el-select v-model="objectId" slot="prepend" placeholder="请选择会员">
                                    <el-option v-for="item in objectIds" :key="item.memberRuleId"
                                        :label="item.memberRuleName" :value="item.memberRuleId">
                                    </el-option>
                                </el-select>
                            </div>
                        </template>

                        <template>
                            <div style="margin-top: 10px">
                                <el-button type="primary"
                                    @click="bindUser({_uri: 'client_user_list', _session: select_user})">
                                    提交
                                </el-button>
                                <el-button type="primary" fixed=right
                                    @click="bindUser({_uri: 'batch_free_user', _type:2})">
                                    点击清除所有免单用户
                                </el-button>
                            </div>
                        </template>
                    </el-form>
                </el-dialog> -->

                <!-- <el-dialog title="毫升数日志" :visible.sync="TableAndVisible" width="70%">
                    <el-table :data="TableFormData" height="600px" border>
                        <el-table-column property="logId" label="ID"></el-table-column>
                        <el-table-column property="createTime" label="创建时间"></el-table-column>
                        <el-table-column property="milliliterChange" label="流量增减值"></el-table-column>
                        <el-table-column property="stateComment" label="说明"></el-table-column>
                    </el-table>
                </el-dialog>

                <el-dialog title="礼券明细" :visible.sync="UpdateTableAndVisible" width="70%">
                    <el-table :data="couponUnFormData" height="400px" style="margin: 10px 0" border>
                        <el-table-column property="rCouponId" label="ID"></el-table-column>
                        <el-table-column property="couponName" label="名称"></el-table-column>
                        <el-table-column property="couponRangeName" label="产品" show-overflow-tooltip="true"></el-table-column>
                        <el-table-column property="machineRange" label="设备" show-overflow-tooltip="true"></el-table-column>
                        <el-table-column property="createTime" label="时间"></el-table-column>
                    </el-table>
                </el-dialog>

                <el-dialog title="地址信息" :visible.sync="addressTable">
                    <el-table :data="addressTables" height="600px">
                        <el-table-column property="named" label="名称"></el-table-column>
                        <el-table-column property="phone" label="手机号"></el-table-column>
                        <el-table-column property="address" label="地址"></el-table-column>
                    </el-table>
                </el-dialog> -->

            </el-main>
        </el-container>
    </div>
</body>

</html>