$width: 100%;
$option: 100px;
html{
    margin: 0;
    padding: 0;
    width: $width;
    height: $width;
}
body{
    max-width: 640px;
    min-width: 320px;
    overflow-x: hidden;
    margin: 0 auto;
    font-size: 1.2rem;
    background-color: rgba(35, 24, 21, 0.3);
    input{
        font-size: 1.1rem;
    }
}
@mixin widthOrder {
    width: $option;
}
.banner{
    width: 100%;
    height: 215px;
}
.domain{
    width: $width - 5%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    transform: translateY(-60px);
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    .title{
        margin: 5px 0;
        width: $width;
        .disabled{
            display: inline-block;
            width: 80px;
        }
        .icons{
            width: 18px;
            height: 18px;
            margin: 12px 6px 0 0;
            float: left;
        }
        input{
            border: none;
            background: none;
            margin-left: 10px;
            width: $width - 40%;
            height: 40px;
        }
        input:-webkit-input-placeholder{
            color: rgba(153, 153, 153, 1);
        }
        .pullimage{
            width: 90px;
            height: 90px;
            margin: 34px 0;
        }
        .sketchmap{
            width: 90px;
            height: 90px;
            float: right;
            text-align: center;
            margin-top: 10px;
            span{
                font-size: 1rem;
                color: rgba(153, 153, 153, 1);
            }
            img{
                width: $width;
                height: $width;
            }
        }
    }
    .width100{
        width: $width;
    }
    .link{
        width: $width;
        height: 1px;
        background-color: rgba(220, 40, 42, 1);
        margin: 5px 0;
    }
    .ccc{
        background-color: rgba(238,238,238,1);
    }
}
.module{
    width: $width;
    height: $width;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.5)
}
.alx-module{
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1;
    text-align: center;
    img{
        width: $width - 20%;
        height: auto;
        margin-left: 20px;
    }
    .box{
        float: left;
        transform: translateY(-150px);
        width: $width;
        text-align: center;
        .show{
            width: $width - 36%;
        }
    }
}
.submit{
    width: $width - 10%;
    height: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
    border-radius: 5px;
    margin: 20px auto;
    background-color: rgba(220, 40, 42, 1);
}
nav{
    text-align: center;
    color: white;
    transform: translateY(-190px);
    height: auto;
    width: $width;
    span{
        display: block;
    }
    img{
        width: 120px !important;
        height: 120px !important;
        padding: 2px;
        background-color: white;
        border-radius: 50%;
    }
}
.qualiydomain{
    transform: translateY(-180px);
    font-size: 1rem;
    .title{
        line-height: 40px;
        .disabled{
            width: 120px;
        }
        span{
            float: right;
            color:rgba(35, 24, 21, 0.3);
        }
    }
}
.qualiybanner{
    transform: translateY(-78px);
}
.login{
    height: 300px;
    .title{
        div{
            text-align: center;
            margin: 20px 0;
            font-size: 1.4rem;
        }
        input{
            width: $width - 10%;
        }
    }
}
.text-mudule{
    display: none;
    font-weight:400;
    color:rgba(255,255,255,1);
    border-radius: 5px;
    text-align: center;
    line-height: 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    padding: 4px 30px;
    box-sizing: border-box;
    background-color: black;
}
.image-show{
    width: $width - 10%;
    height: auto;
    display: none;
    z-index: 9;
    position: fixed;
    top: 100px;
    left:5%;
    img{
        width: $width;
        height: $width;
    }
}