
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 质保激活
  body
    div
        img.banner(src="../images/index-top.png")
    .domain
        .title
            img.icons(src="../images/icon-qrcode.png") 
            div.disabled 设备编码
            input(type="text" name="machineSn" disabled )
        .link
        .title 
            div 上传设备铭牌
            img.pullimage(src="../images/icon-pull-image.png", name="nameplatePic")
            code.text
            input(type="file" name="nameplatePic" accept="image/*" multiple class="fileReader" style="display:none;" placeholder="请上传设备铭牌")
            div.sketchmap
                span 示意图
                img(src="../images/icon-sketchmap-image.png")
        .link.ccc
        .title 
            div 上传装机现场图片
            img.pullimage(src="../images/icon-pull-image.png", name="installPic")
            code.text
            input(type="file" name="installPic" accept="image/*" multiple class="fileReaderTwo" style="display:none;" placeholder="请上传装机现场图片")
            div.sketchmap
                span 示意图
                img(src="../images/icon-sketchmap-shop-image.png")
        .title
            img.icons(src="../images/icon-user.png") 
            div.disabled 姓名
            input(type="text" name="clientName" placeholder="请输入店铺名称")
        .link.ccc
        .title
            img.icons(src="../images/icon-call.png") 
            div.disabled 电话
            input(type="nubmer" name="clientPhone" placeholder="请输入联系电话")
        .link.ccc
        .title
            img.icons(src="../images/icon-address.png") 
            div.disabled 门店地址
            input(type="text" id="address" readonly="readonly" name="province" placeholder="选择门店地址")
        .link.ccc
        .title
            .icons
            div.disabled 详细地址
            input(type="text" name="address" placeholder="请输入详细地址")
        .link.ccc
        
    .domain(style="margin-top: 10px;")
        .title
            img.icons(src="../images/icon-user-shop.png") 
            div.disabled 销售方姓名
            input(type="text" name="dealer" placeholder="请输入销售方姓名")
        .link.ccc
        .title
            img.icons(src="../images/icon-call.png") 
            div.disabled 销售方电话
            input(type="nubmer" name="dealerPhone" placeholder="请输入销售方电话")
        .link.ccc

    .domain(style="margin-top: 10px;")
        .title
            img.icons(src="../images/icon-user-master-worker.png") 
            div.disabled 装机师傅名称
            input(type="text" name="maintainerName" placeholder="请输入装机师傅名称")
        .link.ccc
        .title
            img.icons(src="../images/icon-call.png") 
            div.disabled 装机师傅电话
            input(type="nubmer" name="maintainerPhone" placeholder="请输入装机师傅电话")
        .link.ccc
        .type
            input(type="checkbox" name="success" style="display: inline-block;") 
            span(style="font-size:10px;") 同意 《
                a#ifremes(style="color: blue;" href="javascript:void(0);") 延保协议
                | 》
    .submit 提交审核
    .module
    .alx-module
        img(src="../images/icon-module.png", alt="")
        .box
            span 审核提交成功，请耐心等待
            .submit.show 查看设备状态
    .text-mudule
    .image-show
        img(src="../images/icon-sketchmap-shop-image.png")
    .oneHoold
    .iframes
        iframe(src="http://s.coffeedz.com/wb.html" width="100%" height="100%" frameborder="no" border="0" marginwidth="0" marginheight="0" allowtransparency="yes")