
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 质保激活
  body
    div
        img.banner(src="../images/top-banner.png")
    .domain
        .title
            img.icons(src="../images/icon-qrcode.png") 
            div.disabled 设备编码
            input(type="text" name="number" disabled )
        .link
        .title 
            div 上传设备铭牌
            img.pullimage(src="../images/icon-pull-image.png", name="fileReader")
            input(type="file" name="fileReader" accept="image/*" multiple class="fileReader" style="display:none;")
            div.sketchmap
                span 示意图
                img(src="../images/icon-sketchmap-image.png")
        .link.ccc
        .title 
            div 上传装机现场图片
            img.pullimage(src="../images/icon-pull-image.png", name="fileReaderTwo")
            input(type="file" name="fileReaderTwo" accept="image/*" multiple class="fileReaderTwo" style="display:none;")
            div.sketchmap
                span 示意图
                img(src="../images/icon-sketchmap-shop-image.png")
        .title
            img.icons(src="../images/icon-user.png") 
            div.disabled 姓名
            input(type="text" name="name" placeholder="请输入姓名")
        .link.ccc
        .title
            img.icons(src="../images/icon-call.png") 
            div.disabled 电话
            input(type="text" name="phone" placeholder="请输入电话")
        .link.ccc
        .title
            img.icons(src="../images/icon-user-shop.png") 
            div.disabled 经销商
            input(type="text" name="shopName" placeholder="请输入经销商")
        .link.ccc
        .title
            img.icons(src="../images/icon-address.png") 
            div.disabled 门店地址
            input(type="text" id="address" readonly="readonly" name="address" placeholder="选择门店地址")
        .link.ccc
        .title
            .icons
            div.disabled 详细地址
            input(type="text" name="detailed" placeholder="请输入详细地址")
        .link.ccc
        .submit 提交审核
    .module
    .alx-module
        img(src="../images/icon-module.png", alt="")
        .box
            span 审核提交成功，请耐心等待
            .submit.show 查看设备状态
    .text-mudule
    .image-show
        img(src="../images/icon-sketchmap-shop-image.png")