
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 质保查询
  body
    div
        img.banner(src="../images/top-banner.png")
    //- .domain.login
    //-     .title
    //-         div 设备编码
    //-         input(type="text" name="machineSn" placeholder="请输入设备编码查询")
    //-     .link
    //-     .submit(style="margin-top: 80px;") 查询
    .login
      .loginBox
        .title 质保信息查询
        input(type="text" name="machineSn" placeholder="请输入设备编号")
        span.submit
    .help 如何查看设备编号
      span
    .help-box
      | 通过设备底部的标识牌查看设备编号，标识牌包含设备编号，规格型号，功率，电压，频率
      span
    .text-mudule