
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 质保信息
  body
    div
        img.banner.qualiybanner(src="../images/nav-top-banner.png")
    nav 
        span 已激活
        img.banner(src="../images/product.png")
    .domain.qualiydomain
        .title
            div.disabled 设备名称
            span V单头意式半自动咖啡机
        .link.ccc
        .title
            div.disabled 规格型号
            span V1
        .link.ccc
        .title
            div.disabled 色系
            span 白色
        .link.ccc
        .title
            div.disabled 规格/参数
            span 220V/50Hz 2400W
        .link
        .title
            div.disabled 设备编码
            span F1011904705
        .link.ccc
        .title
            div.disabled 出库单号
            span 88888888888
        .link.ccc
        .title
            div.disabled 物料编号
            span 11111111111
        .link.ccc
        .title#time
            div.disabled 维保有效期至
            span 2021.02.02
        .link.ccc