
doctype html
html(lang="en")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge") 
  meta(http-equiv="Pragma" content="no-cache")
  meta(http-equiv="Cache-control" content="no-cache") 
  meta(http-equiv="Cache" content="no-cache") 
  head
    title 质保信息
  body
    div.ban
        img.banner.qualiybanner(src="../images/nav-top-banner.png")
    nav 
        span 
        img.banner(src="../images/product.png")
    .domain.qualiydomain
        .title
            div.disabled 设备名称
            span(name="machineName") ???
        .link.ccc
        .title
            div.disabled 规格型号
            span(name="machineType") ???
        .link.ccc
        .title
            div.disabled 色系
            span(name="colourScheme") ???
        .link.ccc
        .title
            div.disabled 规格/参数
            span(name="machineParameter") ???
        .link
        .title
            div.disabled 设备编码
            span(name="machineSn") ???
        .link.ccc
        .title
            div.disabled 出库单号
            span(name="orderNum") ???
        .link.ccc
        .title
            div.disabled 物料编号
            span(name="coding") ???
        .link.ccc
        .title#time
            div.disabled 维保有效期
            span(name="extendExpireTime") ???
        .link.ccc
    .text-mudule